{% extends "catalog_base.html" %}

{% block content %}

<div class="main-panel content">
    {% if catalogs == [] %}
        <p>There are no catalogs</p>
    {% endif%}

    <div class="left-sub-panel">
        <h2 class="list-header">Categories</h2>
        <ul>
            {% for c in catalogs %}
            <li>
                <a href="{{url_for('showCatalogItem', catalog_id = c.id)}}">{{c.name}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="right-sub-panel">
        {% if user_id %}
            <a href = "{{url_for('newCatalogItem', catalog_id = catalog.id)}}">
                Add Item
            </a>
        {% endif %}

        <h2 class="list-header">{{itemHeader}}</h2>

        {% if items == [] %}
            <p>There are no items under this catalog</p>
        {% endif%}

        <ul>
            {% for item in items %}
            <li>
                <a href = "{{url_for('showItem', catalog_id = catalog.id, item_id = item.id)}}">
                    {{item.name}}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

</div>

{% endblock %}