<!DOCTYPE html>

<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//apis.google.com/js/platform.js?onload=start"> </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="header">
    <div class="content">
        <div class="site-title">
            <a href="{{url_for('showCatalog')}}">
                <h1>Catalog App</h1>
            </a>
        </div>


          <div id="signin-div">
              {% if not user_id %}
                  <span class="g-signin"
                        data-scope="openid email"
                        data-clientid="665955693864-d3jsasjgmvohk7bfl1c5hjmc6olbcen3.apps.googleusercontent.com"
                        data-redirecturi="postmessage"
                        data-accesstype="offline"
                        data-cookiepolicy="single_host_origin"
                        data-callback="signInCallback"
                        data-approvalprompt="force">
                  </span>
              {% else %}
                  <form action="{{url_for('gdisconnect')}}">
                      <button class="signin-button">Logout</button>
                  </form>
              {% endif %}

          </div>
    </div>
</div>

<div class="message content">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li><strong>{{message}}</strong></li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith%}

    <div id="result"></div>
</div>

{% block content %}
{% endblock %}

</body>

<script>
    function signInCallback(authResult) {
      if (authResult['code']) {
          // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
          $.ajax({
              type: 'POST',
              url: '/gconnect?state={{STATE}}',
              processData: false,
              data: authResult['code'],
              contentType: 'application/octet-stream; charset=utf-8',
              success: function(result) {
                  // Handle or verify the server response if necessary.
                  if (result) {
                      $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
                      setTimeout(
                          function() {
                              window.location.href = "/catalog";
                          }, 4000
                      );
                  } else if (authResult['error']) {
                      console.log('There was an error: ' + authResult['error']);
                  } else {
                      $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                  }
              }

        });
      }
    }
</script>

</html>
