{% extends "catalog_base.html" %}

{% block content %}

<div class="main-panel content">
    <h2>Edit Item</h2>

    <form action="#" method = 'post'>
        <label>Title:</label>
        <br>
        <input type ="text" size="30"  value="{{item.name}}" name="name">
        <br>
        <br>

        <label>Description:</label>
        <br>
        <input type ="text" size="30" value="{{item.description}}" name="description">
        <br>
        <br>

        <label>Category:</label>
        <br>
        <select name="catalog_id">
            {% for c in catalogs %}
                {% if c.id == item.catalog_id %}
                    <option value="{{c.id}}" selected>{{c.name}}</option>
                {% else %}
                    <option value="{{c.id}}">{{c.name}}</option>
                {% endif %}
            {% endfor %}
        </select>
        <br>
        <br>

        <input type='submit' value='Update'>
        <a href="{{url_for('showCatalogItem', catalog_id = item.catalog_id)}}">Cancel</a>
</div>
    </form>
</div>

{% endblock %}